@CHARSET "UTF-8";

/*@import "../../dojo/resources/dojo.css";*/
/*@import "../../dijit/themes/claro/document.css";*/
/*@import "../../dijit/themes/claro/claro.css";*/
/*@import "../../dojox/grid/resources/claroGrid.css";*/
*{
	box-sizing:border-box;
}
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
	background:#fff;
}

#preloader {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1em;
    background: #fff url('../images/loadingAnimation.gif') no-repeat center center;
    position: absolute;
    z-index: 999;
    font-size: 24px;
    font-weight: bold;
}

.loading {
    padding: 1em;
    background: url('../images/loadingAnimation.gif') no-repeat;
    z-index: 999;
    font-size: 24px;
    font-weight: bold;
}

#mainContainer {
    height: 100%;
    width: 100%;
}

#headerPane {
	padding:5px 0;
	height:80px;
	font-size:28px;
	background:#273F56;
	position:relative;
	z-index:2;
	font-family:Microsoft Yahei;
	color:#fff;
	margin-bottom:20px;
}
.comlogo{
	margin-top:10px;
	padding:0 30px;
	height: 50px;
}
.headerline{
	height: 0px;
	background:#4A9BD5;
	border-bottom:1px solid #2A73A8;
	border-top:1px solid #2A73A8;
}
#leftAccordion{
	width:200px;
	border-right:1px solid #9CADBA;
	background:#EAF0F5;
}


.paneAccordion {
    margin: 0 auto 0 auto !important;
    text-align: center;
	height:auto !important;
}

.dbootstrap #leftAccordion .dijitButton {
    width: 100%;
}

.claro #leftAccordion .dijitButton .dijitButtonNode {
    width: 140px;
    margin-bottom: 7px;
}

code,
.code {
    border: 1px solid black;
    font-size: 11px;
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
    background-color: #EEEEEE;
    padding: 2px;
}

.tabPane{
    padding: 1em;
}

.instructionBox{
    text-align: left;
    margin: 2px auto 7px;
    padding: 8px;
    max-width: 300px;
    background-color: #E9F4FE;
    border: 1px solid #759DC0;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.info {
    /*text-align: left;
    margin: 1em;
    padding: 1em;
    background-color: #E9F4FE;
    border: 1px solid #759DC0;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);*/
}

.info li{
    margin-left: 20px;
}

.ormInfo {
    text-align: left;
    margin: 1em;
    padding: 1em;
    background-color: #E9F4FE;
    border: 1px solid #759DC0;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.demoJSFile{
    background-image: url("../resources/silk/icons/page_white_code.png");
    background-repeat: no-repeat;
    height: 18px;
    text-align: center;
    width: 18px;
    margin: 0 auto;
}

.demoFolder{
    background-image: url("../resources/silk/icons/folder.png");
    background-repeat: no-repeat;
    height: 18px;
    text-align: center;
    width: 18px;
    margin: 0 auto;
}

#fileGridTreePane {
    width: 240px;
}

#fileGridGridPane {
    margin: 0;
    padding: 0;
    border: none;
}

#confirmDialog {
    width: 400px;
}

.messageContainer{
    height: 60px;
    /*line-height: 30px;*/
    padding: 5px 5px 0 5px;

}

.messageContainer .messageContent{
    margin-left: 70px;
    margin-top: -40px;
    table-layout:fixed;
    word-break: break-all;
    overflow:hidden;
    font-size: 20px;
}

pre,code {
    font-family: Consolas, Monaco, Courier New, Courier, monospace;
    font-size: 12px;
    background-color: #f9f9f9;
    border: 1px solid #D0D0D0;
    color: #002166;
    display: block;
    margin: 14px 0 14px 0;
    padding: 12px 10px 12px 10px;
}

#body{
    margin: 0 15px 0 15px !important;
    padding:10px !important;
}

p.footer{
    text-align: right;
    font-size: 11px;
    border-top: 1px solid #D0D0D0;
    line-height: 32px;
    padding: 0 10px 0 10px;
    margin: 20px 0 0 0;
}

#container{
    margin: 10px;
    border: 1px solid #D0D0D0;
}

#container h1 {
    color: #444;
    background-color: transparent;
    border-bottom: 1px solid #D0D0D0;
    font-size: 19px;
    font-weight: normal;
    margin: 0 0 14px 0;
    padding: 14px 15px 10px 15px;
}

.summaryRow .gridxRowTable {
    background-color: #FFFF99;
}
.leftsubmenu{
	padding:0 ;
	margin:0;	
}
.leftsubmenu li{
	
	list-style:none;

}

.leftsubmenu li a{
	color:#205484;
	display: block;
	line-height: 28px;
	text-align: left;
	padding: 2px 0px 2px 30px;
	cursor: pointer;
	font-family:"Microsoft Yahei";
	background:#EAF0F5;
}

.leftsubmenu li a:hover{
    color:#666;
    text-decoration: none;
	background:#D4E2EE;

}

/*user-center*/
.user-control{
	width:960px !important;
	height: 600px;
	margin-bottom:20px;
}
.user-tab{
	float:left;
	width:200px;
}

.user-tabs{
	height: 132px;
	padding:0;
	margin-bottom: 0;
	border-right: 0px solid #3cace7;
	margin-left: 0;
	list-style: none;
	
}
.user-tabs li.item{
	width: 185px;
	height: 75px;
	margin-bottom: 10px;
	padding:10px 0 15px 15px;
	border: 1px solid #ddd;
	border-radius: 4px;
	background-color: fff;	
}
.user-tabs li.active a{
	display:inline-block;
	color:#fff;	
}
.user-tabs li a:hover{
	color:#273F56;	
}

.user-tabs li.active {
	width:201px;
	height: 75px;
	border: 1px solid #3cace7;	
	border-right-color: #fff;
	border-radius: 4px 0 0 4px  ;
	background-color: #3cace7;

}