@CHARSET "UTF-8";

@import url("../dojoroot/dojo/resources/dojo.css");
@import url("../dojoroot/dijit/themes/sc/document.css");
@import url("../dojoroot/dijit/themes/sc/sc.css");
@import url("../dojoroot/gridx/resources/sc/Gridx.css");


/*Common*/
h1,h2,h3,h4{
	font-family:Microsoft Yahei;
	margin:0;
	padding:0;
	display:inline-block;
}
.comlogo{
	padding-top:10px;
	font-family:Microsoft Yahei;
	font-size:18px;
	height:50px;
}

/*Header Default
------------------------------------*/
.header {
	padding-top:20px;
	height:80px;
	background:#273F56;
	position:relative;
	z-index:2;
	font-family:Microsoft Yahei;
	font-size:14px;
	color:#37afe4;
	margin-bottom: 20px;
}
.headerineer{
	width: 960px !important;
}
.navbar {
	overflow: visible;
}
.navbar .nav {
	position: relative;
	left: 0;
	display: block;
	float: left;
	margin: 10px 10px 0 0;
	list-style: none;
}
.navbar .nav > li {
	margin-left:5px;
	float: left;
	line-height: 13px;
	display: list-item;
	text-align: -webkit-match-parent;
}
.navbar .nav > li a{
	padding:10px 8px 5px 8px;
}

.navbar .nav > li a:hover, .navbar .nav > li.active a{
	color:#FFF;
	border-bottom: 2px solid #37AFE4;
	background: none;
}
.headerleft{
	margin-top:15px;
	text-align:right;
}


/*main*/
.main{	
	margin-top: 20px;
	min-height: 600px;
	font-size:12px;
}
.maininner{
	width:960px !important;
}
.mainleft{
	width:720px;
	margin: 0 5px 5px 0;
	float:left;
}
.mainright{
	width:230px;
	margin: 0 5px 5px 0;
	float:left;
}
.searchline{
	
	width:100%;
	height: 50px;
	padding: 3px 100px 3px 0;
	margin-bottom: 5px;
	border: 0px solid #007DBC;
	background:none;
	color:#37AFE4;
}
.datatable{
	float:none;
	padding: 5px 3px;
	background:#FFF;
}
.postinner{
	width:230px;
	height:83px;
	border-top:2px solid #565656;
}
.postinner a{
	display:inline-block;	
	padding: 15px 13px;
	width:230px;
	height:85px;
	color:#565656;
	background:#FAFAFA;
	border: 0px solid #007DBC;
	
}
.postinner a:hover{
	color:#FFF;
	background:#37AEE6;	
	border: none;
}
.postico{
	display:inline-block;
	float: left;
	padding: 10px 10px;
	border-right:0px solid #fff;
}
.posttitle{
	display:inline-block;
	float: left;
	padding:0;
	margin:7px 0 5px 10px;
	font-size:18px;
	font-family:Microsoft Yahei;
}
.posttip{
	display:inline-block;
	margin: 0;
	padding: 10px 0 5px 10px;
}

.toprank{
	margin-top:10px;
	padding: 5px 10px;
	width:230px;
	height:300px;
	border:0px solid #007DBC;
}
.taglist-block{
	list-style: none;
	padding: 0;
	font-size: 0;
}
.taglist-block>li {
	margin-bottom: 8px;
}
.taglist-block li {
	padding: 0;
	font-size: 13px;
}

.depttop{
	margin-top:10px;
	padding: 5px 10px;
	width:230px;
	height:250px;
	border:0px solid #007DBC;
}

.mainbottom{
	margin: 15px 0;
	width:960px !important;
	height:20px;
}
.c1{
	background:#ffd600;
}
.c2{
	background:#e0605c;
}
.c3{
	background:#92bcde;
}
.c4{
	background:#0065ac;
}
.c5{
	background:#b4b8b3;
}
.c6{
	background:#b670a8;
}
.c7{
	background:#9d9cc9;
}
.c8{
	background:#acd0b4;
}
.c9{
	background:#ffd600;
}
.stream-list{
	border-bottom: 1px solid #eee;
	padding:12px 0
}
.qa-rank{
	float: left;
	margin-right: 5px;
	text-align: center;
	line-height: 1.2;
	color: #666;
}
.qa-rank small{
	display: block;
	font-size: 12px;
}
.stream-list .summary{
	overflow:auto;
}
.stream-list .author{
	padding-left:0;
	margin-bottom:3px;
	color:#999;
	font-size:12px
}
.stream-list .author a{
	color:#999
}
.stream-list .author small{
	color:#ddd
}
.stream-list .title{
	display:inline;
	margin:0 5px 0 0;
	font-size:14px
}
.stream-list .title a{
	color:#333
}
.stream-list .title a:hover{
	color:#017e66
}
.stream-list .small-title{
	margin:0 0 5px;
	font-size:16px
}
.stream-list .split:before{
	content:" ";
	color:#ddd
}
.stream-list .summary{
	overflow:auto
}
.stream-list .excerpt{
	margin:3px 0 0;
	height:42px;
	color:#777;
	font-size:13px;
	line-height:1.7;
	overflow:hidden
}
.stream-list.highlight{
	background:#FFF9EB
}
.taglist{
	margin:0;
	padding:0;
	display:inline-block;
	
}
.taglist>li{
	display:inline-block;
	margin-right:5px;
	font-size:9px;
}
.tag {
	display: inline-block;
	padding: 0 8px;
	color: #017e66;
	background-color: #E7F2ED;
	height: 24px;
	line-height: 24px;
	font-weight: normal;
	font-size: 13px;
	text-align: center;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.tag-sm {
	padding: 0 4px;
	height: 18px;
	line-height: 18px;
	font-size: 9px;
}
.qa-rank .votes, 
.qa-rank .answers, 
.qa-rank .views{
	display: inline-block;
	padding-top: 3px;
	width: 40px;
	height: 42px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
}
.qa-rank .views{
	width:50px;
	color:#999;
}
.qa-rank .answers{
	background:#99CCCC;
	color:#fff;
}
.qa-rank .views{
	width:50px;
	color:#999;
}

/*user-center*/
.user-control{
	width:960px !important;
	height: 600px;
	margin-bottom:20px;
}
.user-tab{
	float:left;
	width:200px;
}

.user-tabs{
	height: 132px;
	padding:0;
	margin-bottom: 0;
	border-right: 0px solid #3cace7;
	margin-left: 0;
	list-style: none;
	
}
.user-tabs li.item{
	width: 185px;
	height: 75px;
	margin-bottom: 10px;
	padding:10px 0 15px 15px;
	border: 1px solid #ddd;
	border-radius: 4px;
	background-color: fff;	
}
.user-tabs li.active a{
	display:inline-block;
	color:#fff;	
}
.user-tabs li a:hover{
	color:#273F56;	
}

.user-tabs li.active {
	width:201px;
	height: 75px;
	border: 1px solid #3cace7;	
	border-right-color: #fff;
	border-radius: 4px 0 0 4px  ;
	background-color: #3cace7;

}
.subico,
.subtxt{
	display:inline-block;
	float:left;	
	height: 38px;
}
.subtxt{
	font-size:15px;
	font-family:Microsoft Yahei;
	padding:15px 0 15px 15px;
}
.user-tabtxt{
	float:left;
	width:750px;
	height:100%;
	padding: 35px;
	padding-bottom: 50px;
	border: 1px solid #3cace7;
	border-radius: 0 4px 4px 0;

}

.headline{
	display: block;
	margin: 10px 0 15px 0;
	border-bottom: 1px dotted #e4e9f0;
}
.headline h2{
	margin: 0 0 -2px 0;
	padding-bottom: 5px;
	display: inline-block;
	color:#273F56;
	font-size:17px;
	font-family:Microsoft Yahei;
	border-bottom: 2px solid #37AFE4;
}
.headline h2 i{
	margin-right:10px;
}

/*footer*/
.footer{
	padding: 10px 0 0 0;
	background:#375069;
	height:80px;
	
}
.copyright{
	width:960px !important;
	color:#B0B8BD;
}

/*404ERROR*/
.error-v1 {
	margin-bottom: 20px;
	text-align: center;	
}

.error-v1 p {
	color: #555;
	font-size: 20px;
}

.error-v1 span {
	color: #555;
	display: block;
	font-size: 40px;
}

.error-v1 span.error-v1-title {
	color: #777;	
	font-size: 180px;
	font-family: 'Kite One', sans-serif;	
}